body {
  margin: 0;
}

// 栅格布局
.grid {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@for $i from 2 through 5 {
  .grid-c-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
}

.render-views-table {
  display: inline-block;
  padding: 4px;
  box-sizing: content-box;
  transition: all .2s;

  &::before {
    display: none;
  }

  & + .render-views-table {
    margin-left: 5px;
  }

  &.isActive{
    background: rgba(8, 76, 179, 0.486) !important;
  }

  &:hover {
    background: rgb(247, 247, 247);
  }

  .el-table__body-wrapper {
    overflow-x: hidden;
  }
  .el-table__body .cell {
    margin: 0 10px;
    // height: 100px;
    padding: 0 !important;

    .drag-views {
      border: 1px dashed #ccc;
    }
    .active {
      border-color: var(--el-color-primary);
    }
  }
}

.splitpanes__pane > .drag-views {
  display: flex;
  align-items: flex-start;
}

.drag-views {
  padding: 2px;
  background: #fff;
  width: 100%;
  min-height: 100px;
  height: 100%;
  transition: all .2s;
  & .left-components-item.sortable-chosen.sortable-ghost {
    border: none;
    border-radius: 0;
    font-size: 0;
    margin: 0 5px;
    padding: 0;
    // box-shadow: transparent;
    // overflow: hidden;
    background: transparent;
    border-left: 2px solid var(--el-color-primary);
  }
  
  &-prop {
    padding: 10px;
    margin: 2px;
    border: 1px dashed #ccc;
  }

  & .el-table__cell {
    border: none !important;
  }
}

.config-data-form {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  .el-form-item {
    margin-bottom: 15px;
    &__label {
      padding: 0;
      font-weight: bold;
      font-size: 14px;
      color: #333;
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        margin-right: 4px;
      }
    }
  }
}